# build output
dist/

# generated types
.astro/
.wrangler/
.local/
public/images/candidates/
public/images/employers/
public/*.xml

# dependencies
node_modules/

# logs
logs/*
!logs/.gitkeep
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
google_indexing.json

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
